## Pandas
### Pandas is the most commonly used data processing library for machine learning in Python, providing efficient features for manipulating 2-dimensional data.

https://pandas.pydata.org/

### Pandas Series

1. How to create a Pandas series from Python lists, ndarrays, and dictionaries.

2. Indexing method for Pandas series.

3. The operations available in a series.

In [1]:
# 파이썬 리스트로부터 판다스 series 만드는 법 
import numpy as np
import pandas as pd

year = [2014,2018,2020,2021]

In [ ]:
# Index 설정하기
name = ["철수","영희","재석","명수"]

In [ ]:
# numpy array로 series 만들기 
year = np.array([2014,2018,2020,2021])

In [ ]:
#dictionary로 series 만들기 
graduate = {'철수':2014,'영희':2018,'재석':2020,'명수':2021}

In [ ]:
# series는 Index와 위치 정보 모두로 Indexing이 가능하다.


# Index 찾기

In [4]:
# pandas series는 numpy와 같이 다양한 operation이 가능하다.

ser_1 = pd.Series([1, 2, 3])
ser_2 = pd.Series([4, 5, 6])

# 1. 덧셈/뺄셈

addition = ser_1 + ser_2

# 2.곱셈

multiple = ser_1 * ser_2

# 3. 나눗셈

division = ser_1 / ser_2

print(addition)
print(multiple)
print(division)

0    5
1    7
2    9
dtype: int64
0     4
1    10
2    18
dtype: int64
0    0.25
1    0.40
2    0.50
dtype: float64

In [14]:
# Series 끼리의 연산

graduate_1 = {'철수':2014,'영희':2018,'재석':2020,'명수':2021}
graduate_2 = {'철수':1,'영희':2,'미선':3,'명수':4}


graduate_1 = pd.Series(graduate_1)
graduate_2 = pd.Series(graduate_2)

print(graduate_1)
print(graduate_2)
graduate_1.add(graduate_2, fill_value=0)

철수    2014
영희    2018
재석    2020
명수    2021
dtype: int64
철수    1
영희    2
미선    3
명수    4
dtype: int64

명수    2025.0
미선       3.0
영희    2020.0
재석    2020.0
철수    2015.0
dtype: float64

### Pandas DataFrame
A pandas DataFrame can also be created from lists, ndarrays, and dictionaries, just like a Series. In this case, let's practice creating it only from an ndarray.

In [ ]:
name = ["철수","영희","재석","명수"]
score = ["math","physics","biology","chemistry"]

In [ ]:
#데이터 프레임 합치기
score = ["math","physics","biology","chemistry"]

In [ ]:
score1 = ["math","physics","literature","korean"]

### DataFrame API
In many cases, there are not many instances where pandas DataFrames or Series are created directly. Most of the time, data is given and machine learning is carried out by processing or transforming the data.

Let's go to https://www.kaggle.com/ and download the iris dataset to practice reading and processing data using pandas DataFrame.

In [20]:
 # csv 파일 읽기


dataframe = pd.read_csv("Iris.csv")

print(len(dataframe))
print(dataframe.keys())
dataframe

150
Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [19]:
#information

dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [30]:
#isnull
dataframe.isna()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [31]:
#describe
dataframe.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [36]:
#맨위 행부터 읽기
pd.options.display.max_rows = 50
dataframe

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

### DataFrame indexing & Filtering

In [44]:
#열 indexing

#여러 열 indexing

dataframe.loc

'Species'

In [39]:
#특정행만 indexing
dataframe.loc[5:10]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa

In [50]:
#2번째 열만  
dataframe["Id"].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150])

In [ ]:
#1번째 행 3번째 열 indexing

In [64]:
#특정 조건

condition = dataframe.where(dataframe['Id'] <= 10)

condition.head(11)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1.0,5.1,3.5,1.4,0.2,Iris-setosa
1,2.0,4.9,3.0,1.4,0.2,Iris-setosa
2,3.0,4.7,3.2,1.3,0.2,Iris-setosa
3,4.0,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,5.0,3.6,1.4,0.2,Iris-setosa
5,6.0,5.4,3.9,1.7,0.4,Iris-setosa
6,7.0,4.6,3.4,1.4,0.3,Iris-setosa
7,8.0,5.0,3.4,1.5,0.2,Iris-setosa
8,9.0,4.4,2.9,1.4,0.2,Iris-setosa
9,10.0,4.9,3.1,1.5,0.1,Iris-setosa
10,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# ex) Species가 Iris-versicolor이고 SepalWidthCm가 3보다 큰 경우만 indexing 해보도록 하자.

In [ ]:
# isin 함수를 이용해서도 필터링이 가능하다.

### DataFrame Operation

In [ ]:
 # remove column

In [ ]:
#unique()

In [ ]:
#value_counts()

### Groupby